POSTGRES_DB_NAME=workHardPlayHard
POSTGRES_DB_HOST=10.10.0.1
POSTGRES_DB_PORT=5432
POSTGRES_DB_USERNAME=postgres
POSTGRES_DB_PASSWORD=replace-with-a-database-password
NORTHSTAR_PUBLIC_URL=http://localhost:8080
NORTHSTAR_PORT=8080
NORTHSTAR_LANDING_PORT=8081
NORTHSTAR_VERSION=latest
CLIENT_ORIGINS=
